*{
    margin: 0;
    padding: 0;
}

.container1{
    display: grid;
    justify-content: ;
    align-content: ;
    gap: 3px;
    width: 306px;
    margin: 10px 0 0 0px;
    grid-template-columns: 100px 100px 100px;
    background-color: rgb(119, 119, 119);
    height: 306px;
    padding: 25px;


}
.container{
    display: flex;
    justify-content: center;
}
.heading{
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: 20px;
}
.cells{
    cursor: pointer;
    font-size: 40px;
}

.container1 input{
    background-color: white;
    height: 100px;
    border: none;

}

.restartBtn{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;    
}
.restartBtn input{
    border: none;
    background-color: rgb(206, 203, 203);
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#winner{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 40px;
    font-size: 20px;

}

@media  (max-width: 450px){
         .container1{
            width: 100%;
            grid-template-columns: repeat(3,1fr);
            height: auto;

         }
         .container .cells{
        }
         .heading{
            font-size: 15px;
         }
}
